<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
            <h1>Operaciones: consultar monto</h1>
            <hr>
            <br>
            <div class="container">

                <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Ingresar monto</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th>
                                <br>
                                <br>
                                <form>
                                    <div class="form-group row">
                                        
                                            

                                        <label for="staticEmail" class="col-sm-1 col-form-label">Monto:</label>
                                        <div class="col-md-6 mb-3">
                                            <input type="number" class="form-control" name="monto" [(ngModel)]="monto">
                                        </div>
                                    </div>

                                    <br>

                                    <div class="col text-right">
                                        <button class="btn btn-success mr-1" (click)="consultarMonto()">
                                            <i class="fa fa-search"></i>
                                            Consultar
                                        </button>
                                        <button class="btn btn-warning"  (click)="limpiar()">
                                                <i class="fas fa-broom"></i>
                                                Limpiar
                                            </button>
                                    </div>
                                    <br>
                                    <h4 class="animated fadeIn">{{ punto }}</h4>
                                </form>
                            </th>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
