<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Actualizacion de regla</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form>
                
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Limite inferior</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="inferior" [(ngModel)]="inferior">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Limite superior</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="superior" [(ngModel)]="superior">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Monto equivalencia</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" name="monto" [(ngModel)]="monto">
                      </div>
                    </div>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"  (click)="actualizarRegla()" data-dismiss="modal">Actualizar</button>
            </div>
          </div>
        </div>
      </div>











<div  class="container-fluid">
        <div class="row">
                <div class="col-sm-3">
                </div>
                            
                <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                        <h1>Reglas: listado</h1>
                        <hr>
                        <br>
                        <div class="container">
                                
                                      <br>

                                <table class="table animated fadeIn fast faster  animated fadeIn faster">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Limite inferior</th>
                                            <th scope="col">Limite superior</th>
                                            <th scope="col">Monto Equivalencia</th>
                                            <th scope="col">Acciones</th>

                                            
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let r of reglas | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
                                            <th scope="row">{{ i+1 }}</th>
                                            <td>{{ r.limiteInferior }}</td>
                                            <td>{{ r.limiteSuperior }}</td>
                                            <td>{{ r.montoEquivalencia }}</td>
                                            <td>
                                              <div class="text-center">
                                                
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" 
                                                (click)="buscarRegla(i)">
                                                    <i class="fas fa-pencil-alt"></i>
                                                  </button>
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>

                                      <div *ngIf="cargando"
                                      class="alert alert-info text-center mt-3 animated fadeIn faster">
                                           <h4 class="alert-heading">Cargando</h4>
                                           <p>
                                               <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                           </p>
                                           <p class="mb-0">
                                             Espere por favor
                                           </p>
                                       </div>

                                       <br>
  <div class="text-right">
      <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div><br>
                                

                        </div>

                        
                    </div>
        </div>
</div>

