<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Paginacion de vales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Inicio de pagina</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="startIndexPage" [(ngModel)]="startIndexPage">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad de pagina</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="pageSize" [(ngModel)]="pageSize">
            </div>
          </div>
        </form>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="paginacionVales()" data-dismiss="modal">Buscar</button>
      </div>
    </div>
  </div>
</div>










<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
      <h1>Vales: listado</h1>
      <hr>
      <br>
      <div class="container">
        <div class="col text-right">
          <button class="btn btn-success mr-1" (click)="restaurar()">
            <i class="fas fa-sync-alt"></i>
            Restaurar
          </button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fa fa-plus"></i> Paginacion
          </button>

        </div>
        <br>

        <table class="table animated fadeIn fast faster  animated fadeIn faster">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Canttidad</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vale of vales | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ vale.descripcion }}</td>
              <td>{{ vale.cantidadRequerida }}</td>

            </tr>
          </tbody>
        </table>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>

        <div *ngIf="!cargando && vales.length === 0"
          class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>

        </div>

        <br>

        <div class="text-right">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div><br>


      </div>


    </div>
  </div>
</div>