<!--nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Fidelizacion de Clientes</a>
</nav>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="nav-side-menu">
                <div class="brand">Menu</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#clientes" class="collapsed">
                            <a href=""><i class="fas fa-users"></i> Clientes <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="clientes" routerLinkActive="active"
                            [routerLink]="['administracion/clientes-agregar']">
                            <li>Agregar</li>
                        </ul>
                        <ul class="sub-menu collapse" id="clientes" routerLinkActive="active"
                            [routerLink]="['administracion/clientes']">
                            <li>Listado</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#usopuntos" class="collapsed">
                            <a href=""><i class="fas fa-calculator"></i> Vales <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="usopuntos" routerLinkActive="active"
                            [routerLink]="['administracion/vales-agregar']">
                            <li>Agregar</li>
                        </ul>
                        <ul class="sub-menu collapse" id="usopuntos" routerLinkActive="active"
                            [routerLink]="['administracion/vales-listado']">
                            <li>Listado</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#reglas" class="collapsed">
                            <a href=""><i class="fas fa-ruler"></i> Reglas <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="reglas" routerLinkActive="active"
                            [routerLink]="['administracion/regla-agregar']">
                            <li>Agregar</li>
                        </ul>

                        <ul class="sub-menu collapse" id="reglas" routerLinkActive="active"
                            [routerLink]="['administracion/regla-listado']">
                            <li>Listado</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#parametro" class="collapsed">
                            <a><i class="fas fa-calendar-alt"></i> Parametros <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="parametro" routerLinkActive="active"
                            [routerLink]="['administracion/parametros-agregar']">
                            <li>Agregar</li>
                        </ul>

                        <ul class="sub-menu collapse" id="parametro" routerLinkActive="active"
                            [routerLink]="['administracion/parametros-listado']">
                            <li>Listado</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#operaciones" class="collapsed">
                                <a><i class="fas fa-shopping-bag"></i> Operaciones <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="operaciones" routerLinkActive="active"
                                [routerLink]="['operaciones/carga-de-puntos']">
                                <li>Carga de puntos</li>
                            </ul>
    
                            <ul class="sub-menu collapse" id="operaciones" routerLinkActive="active"
                                [routerLink]="['operaciones/usar-puntos']">
                                <li>Utilizar puntos</li>
                            </ul>

                            <ul class="sub-menu collapse" id="operaciones" routerLinkActive="active"
                                [routerLink]="['operaciones/consultar-monto']">
                                <li>Consultar monto</li>
                            </ul>


                            <li data-toggle="collapse" data-target="#reportes" class="collapsed">
                                    <a><i class="fas fa-chart-line"></i> Reportes <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="reportes" routerLinkActive="active"
                                    [routerLink]="['reportes/consultar-uso-puntos']">
                                    <li>Puntos detallados</li>
                                </ul>
        
                                <ul class="sub-menu collapse" id="reportes" routerLinkActive="active"
                                    [routerLink]="['reportes/bolsa-puntos']">
                                    <li>Bolsa de puntos</li>
                                </ul>

                                <ul class="sub-menu collapse" id="reportes" routerLinkActive="active"
                                    [routerLink]="['reportes/vencimiento']">
                                    <li>Vencimiento</li>
                                </ul>

                       


                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-9 col-sm-offset-1">
                    <h3>Fidelizacion de clientes</h3>
                   
                </div>-->
    </div>
</div>