<div  class="container-fluid">
        <div class="row">
                <div class="col-sm-3">
                </div>
                            
                <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                        <h1>Vales: agregar</h1>
                        <hr>
                        <br>
                    <div class="container">
                            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Datos del vale</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <th>
                                                <form>
                                                        <div class="form-group row">
                                                          <label for="staticEmail" class="col-sm-2 col-form-label" >Descripcion:</label>
                                                          <div class="col-sm-10">
                                                                <textarea type="text" class="form-control"  name="descripcion" [(ngModel)]="descripcion"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                          <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad:</label>
                                                          <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="cantidadRequerida" [(ngModel)]="cantidadRequerida">
                                                          </div>
                
                                                        </div>

                                                        <br>

                                                                      <div class="col text-right">
                                                                            <button class="btn btn-success" (click)="guardarVale()">
                                                                              <i class="fa fa-plus"></i>
                                                                            Agregar
                                                                            </button>
                                                                          </div>
                                                                          <br>
                                                      </form>
                                        </th>
                                        
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>

</div>
        

