<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Seleccionar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="tableFixHead">
                            <table>
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let cli of clientes; let i = index">
                                   
                                            <td scope="row"><input  (click)="seleccionarCliente(i)"
                                                type="radio" id="defaultCheck"  name="example2"></td>
                                    
                                    <td>{{ cli.nombre }}</td>
                                    <td>{{ cli.apellido}}</td>

                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                          
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="printNameCliente()" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
            <h1>Operaciones: carga de puntos</h1>
            <hr>
            <br>
            <div class="container">

                <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Seleccionar datos</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th>
                                <br>
                                <br>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-md-6 mb-3">
                                            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">

                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                                        data-target="#exampleModalCenter">
                                                        <i class="fas fa-search"></i>
                                                    </button>



                                                </div>
                                                <input type="text" class="form-control" name="clienteName" [ngModel]="clienteName"
                                                    id="inlineFormInputGroupUsername"
                                                    placeholder="Elegir un cliente...">
                                            </div>
                                        </div>

                                        <label for="staticEmail" class="col-mb-2 col-form-label">Monto:</label>
                                        <div class="col-md-4 mb-3">
                                            <input type="number" class="form-control" name="monto" [(ngModel)]="monto">
                                        </div>
                                    </div>

                                    <br>

                                    <div class="col text-right">
                                        <button class="btn btn-success mr-1" (click)="cargarPunto()">
                                            <i class="fa fa-plus"></i>
                                            Agregar
                                        </button>
                                        <button class="btn btn-warning"  (click)="limpiar()">
                                                <i class="fas fa-broom"></i>
                                                Limpiar
                                            </button>
                                    </div>
                                    <br>
                                </form>
                            </th>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>