<div  class="container-fluid">
        <div class="row">
                <div class="col-sm-3">
                </div>
                            
                <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                        <h1>Parametros: agregar</h1>
                        <hr>
                        <br>
                    <div class="container">
                            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Datos de parametro</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <th>
                                                <form>
                                                        <div class="form-group row">
                                                                <label for="inputPassword" class="col-sm-2 col-form-label">Fecha inicio validez:</label>
                                                                <div class="col-sm-10">

                                                                    <input  name="date" type="date" name="fechaInicio"   [(ngModel)]="fechaInicio"
                                                                        max="3000-12-31" min="1000-01-01" class="form-control">
                                                                </div>
                      
                                                              </div>

                                                              <div class="form-group row">
                                                                    <label for="inputPassword" class="col-sm-2 col-form-label">Fecha fin validez:</label>
                                                                    <div class="col-sm-10">

                                                                        <input  name="date" type="date" name="fechaFin"   [(ngModel)]="fechaFin"
                                                                            max="3000-12-31" min="1000-01-01" class="form-control">
                                                                    </div>
                          
                                                                  </div>
                                                        
                                                        

                                                        <div class="form-group row">
                                                                <label for="inputPassword" class="col-sm-2 col-form-label">Dias duracion:</label>
                                                                <div class="col-sm-10">
                                                                  <input type="number" class="form-control" name="dias" [(ngModel)]="dias">
                                                                </div>
                      
                                                              </div>

                                                             

                                                                 

                                                                      
                                                                      <br>

                                                                      <div class="col text-right">
                                                                            <button class="btn btn-success" (click)="agregarParametro()">
                                                                              <i class="fa fa-plus"></i>
                                                                            Agregar
                                                                            </button>
                                                                          </div>
                                                                          <br>
                                                      </form>
                                        </th>
                                        
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>

</div>
        

