<div  class="container-fluid">
        <div class="row">
                <div class="col-sm-3">
                </div>
                            
                <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                        <h1>Reglas: agregar</h1>
                        <hr>
                        <br>
                    <div class="container">
                            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Datos de la regla</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <th>
                                                <form>
                                                        <div class="form-group row">
                                                          <label for="staticEmail" class="col-sm-2 col-form-label" >Limite inferior:</label>
                                                          <div class="col-sm-10">
                                                                <input type="number" class="form-control"  name="inferior" [(ngModel)]="inferior">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                          <label for="inputPassword" class="col-sm-2 col-form-label">Limite Superior:</label>
                                                          <div class="col-sm-10">
                                                            <input type="number" class="form-control" name="superior" [(ngModel)]="superior">
                                                          </div>
                
                                                        </div>

                                                        <div class="form-group row">
                                                                <label for="inputPassword" class="col-sm-2 col-form-label">Monto equivalencia:</label>
                                                                <div class="col-sm-10">
                                                                  <input type="number" class="form-control" name="monto" [(ngModel)]="monto">
                                                                </div>
                      
                                                              </div>

                                                              
                                                                      <br>

                                                                      <div class="col text-right">
                                                                            <!--<button class="btn btn-danger mr-1" (click)="calcularMontoEquivalencia()">
                                                                              <i class="fa fa-plus"></i>
                                                                            Calcuar Monto
                                                                            </button>-->
                                                                            <button class="btn btn-success" (click)="guardarRegla()">
                                                                                    <i class="fa fa-plus"></i>
                                                                                  Agregar
                                                                                  </button>
                                                                          </div>
                                                                          <br>
                                                      </form>
                                        </th>
                                        
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>

</div>
        

