<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Actualizacion de parametro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
                <form>
                    
                        <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Fecha inicio validez:</label>
                        <div class="col-sm-10">

                            <input  name="date" type="date" name="fechaInicio"   [(ngModel)]="fechaInicio"
                                max="3000-12-31" min="1000-01-01" class="form-control">
                        </div>

                      </div>
                      <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Fecha fin validez:</label>
                            <div class="col-sm-10">

                                <input  name="date" type="date" name="fechaFin"   [(ngModel)]="fechaFin"
                                    max="3000-12-31" min="1000-01-01" class="form-control">
                            </div>

                          </div>
                          <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Dias duracion:</label>
                                <div class="col-sm-10">
                                  <input type="number" class="form-control" name="dias" [(ngModel)]="dias">
                                </div>

                              </div>
                  </form>
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary"  (click)="actualizarParametro()" data-dismiss="modal">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
    
    
    
    
    
    
    
    
    
    
    
    <div  class="container-fluid">
            <div class="row">
                    <div class="col-sm-3">
                    </div>
                                
                    <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                            <h1>Parametros: listado</h1>
                            <hr>
                            <br>
                            <div class="container">
                                    
                                          <br>
    
                                    <table class="table animated fadeIn fast faster  animated fadeIn faster">
                                            <thead class="thead-light">
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Fecha inicio validez</th>
                                                <th scope="col">Fehca fin validez</th>
                                                <th scope="col">Dias duracion</th>
                                                <th scope="col">Acciones</th>
    
                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let param of parametros | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
                                                <th scope="row">{{ i+1 }}</th>
                                                <td>{{ param.fechaInicioValidez | date:'longDate' }}</td>
                                                <td>{{ param.fechaFinValidez | date:'longDate'}}</td>
                                                <td>{{ param.diasDuracion }}</td>
                                                <td>
                                                  <div class="text-center">
                                                    
                                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" 
                                                    (click)="buscarParametro(i)">
                                                        <i class="fas fa-pencil-alt"></i>
                                                      </button>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
    
                                          <div *ngIf="cargando"
                                          class="alert alert-info text-center mt-3 animated fadeIn faster">
                                               <h4 class="alert-heading">Cargando</h4>
                                               <p>
                                                   <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                               </p>
                                               <p class="mb-0">
                                                 Espere por favor
                                               </p>
                                           </div>
    
                                           <br>
      <div class="text-right">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
      </div><br>
                                    
    
                            </div>
    
                            
                        </div>
            </div>
    </div>
    
    