<div  class="container-fluid">
        <div class="row">
                <div class="col-sm-3">
                </div>
                            
                <div class="col-sm-9 col-sm-offset-1 animated fadeIn">
                        <h1>Clientes: agregar</h1>
                        <hr>
                        <br>
                    <div class="container">
                            <table class="table table-bordered animated fadeIn fast faster  animated fadeIn faster">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Datos del cliente</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <tr>
                                        <th>
                                                <form>
                                                        <div class="form-group row">
                                                          <label for="staticEmail" class="col-sm-2 col-form-label" >Nombre:</label>
                                                          <div class="col-sm-10">
                                                                <input type="text" class="form-control"  name="nombre" [(ngModel)]="nombre">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                          <label for="inputPassword" class="col-sm-2 col-form-label">Apellido:</label>
                                                          <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido">
                                                          </div>
                
                                                        </div>

                                                        <div class="form-group row">
                                                                <label for="inputPassword" class="col-sm-2 col-form-label">Cedula:</label>
                                                                <div class="col-sm-10">
                                                                  <input type="text" class="form-control" name="nroDocumento" [(ngModel)]="nroDocumento">
                                                                </div>
                      
                                                              </div>

                                                              <div class="form-group row">
                                                                    <label for="inputPassword" class="col-sm-2 col-form-label">Email:</label>
                                                                    <div class="col-sm-10">
                                                                      <input type="email" class="form-control" name="email" [(ngModel)]="email">
                                                                    </div>
                          
                                                                  </div>

                                                                  <div class="form-group row">
                                                                        <label for="inputPassword" class="col-sm-2 col-form-label">Telefono:</label>
                                                                        <div class="col-sm-10">
                                                                          <input type="text" class="form-control" name="telefono" [(ngModel)]="telefono">
                                                                        </div>
                              
                                                                      </div>

                                                                      <div class="form-group row">
                                                                            <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
                                                                            <div class="col-sm-10">

                                                                                <input  name="date" type="date" name="fechaNacimiento"   [(ngModel)]="fechaNacimiento"
                                                                                    max="3000-12-31" min="1000-01-01" class="form-control">
                                                                            </div>
                                  
                                                                          </div>
                                                                      <br>

                                                                      <div class="col text-right">
                                                                            <button class="btn btn-success" (click)="guardarClienteNuevo()">
                                                                              <i class="fa fa-plus"></i>
                                                                            Agregar
                                                                            </button>
                                                                          </div>
                                                                          <br>
                                                      </form>
                                        </th>
                                        
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                    </div>
                </div>
            </div>

</div>
        
