<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Seleccionar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="tableFixHead">
                            <table>
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let cli of clientes; let i = index">
                                   
                                            <td scope="row"><input  (click)="seleccionarCliente(i)"
                                                type="radio" id="defaultCheck"  name="example2"></td>
                                    
                                    <td>{{ cli.nombre }}</td>
                                    <td>{{ cli.apellido}}</td>

                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                          
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="buscar()" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div   class="col-sm-9 col-sm-offset-1 animated fadeIn">
      <h1>Reportes: bolsa de puntos</h1>
      <hr>
      <br>
      <div class="container">
        <form>
            <div class="form-row">
                <div class="col-md-4 mb-3 animated fadeIn">
                   
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <button type="button" class="btn btn-info" data-toggle="modal"
                          data-target="#exampleModalCenter">
                          <i class="fas fa-search"></i>
                      </button>
                      </div>
                      <input type="text" class="form-control" id="validationCustomUsername" name="clienteName" [(ngModel)]="clienteName"
                      placeholder="Elegir un cliente" aria-describedby="inputGroupPrepend" 
                      required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>

                 


                  
              </div>
        </form>

        <div class="col">

            <div class="col text-right">
                <button class="btn btn-primary mr-1" (click)="restaurar()">
                  <i class="fas fa-sync-alt"></i>
                  Restaurar
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger mr-1" 
                (click)="imprimirLista()">
                    <i class="far fa-file-pdf"></i> PDF
                </button>
                <button type="button" class="btn btn-success mr-1"
                (click)="exportAsXLSX()" >
                    <i class="far fa-file-excel"></i> EXCEL
                </button>
      
      
      
              </div>
          
  

        </div>
        

        <br>
        
            
          <form id="reporte">
            
         

        <table   class="table animated fadeIn fast faster  animated fadeIn faster"
        #content>
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Puntos asignados</th>
              <th scope="col">Puntos utilizados</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bolsa of bolsaPuntos | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ bolsa.cliente.nombre + " " + bolsa.cliente.apellido }}</td>
              <td>{{ bolsa.puntajeAsignado}}</td>
              <td>{{ bolsa.puntajeUtilizado}}</td>
              

            </tr>
          </tbody>
        </table>
      

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>

        <div *ngIf="!cargando && bolsaPuntos.length === 0"
          class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>

        </div>

        <br>
        <div class="text-right">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div><br>
      </form>

      </div>

     

    </div>
  </div>
</div>

