


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
    </div>

    <div   class="col-sm-9 col-sm-offset-1 animated fadeIn">
      <h1>Reportes: vencimientos</h1>
      <hr>
      <br>
      <div class="container">
        <form>
            <div class="form-row">
                <div class="col-md-4 mb-3 animated fadeIn">
                   
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <button type="button" class="btn btn-info" (click)="buscar()" 
                          >
                          <i class="fas fa-search"></i>
                      </button>
                      </div>
                      <input type="text" class="form-control" id="validationCustomUsername" name="dias" [(ngModel)]="dias"
                      placeholder="Ingrese dias" aria-describedby="inputGroupPrepend" 
                      required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>

                 


                  
              </div>
        </form>

        <div class="col">

            <div class="col text-right">
                <button class="btn btn-primary mr-1" (click)="restaurar()">
                  <i class="fas fa-sync-alt"></i>
                  Restaurar
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger mr-1" 
                (click)="imprimirLista()">
                    <i class="far fa-file-pdf"></i> PDF
                </button>
                <button type="button" class="btn btn-success mr-1"
                (click)="exportAsXLSX()" >
                    <i class="far fa-file-excel"></i> EXCEL
                </button>
      
      
      
              </div>
          
  

        </div>
        

        <br>
        
            
      <form id="reporte" *ngIf="mostrarTabla">
        <p>Registros encontrados de vencimiento:</p>

       

        

        <table   class="table animated fadeIn fast faster  animated fadeIn faster"
        #content>
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Fecha Caducidad</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cli of clientes | paginate:{itemsPerPage: 5, currentPage:page}; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ cli.nombre }}</td>
              <td>{{ cli.apellido}}</td>
              <td>{{ cli.fechaCaducidad | date:'longDate' }}</td> 
              

            </tr>
          </tbody>
        </table>
      

        <div *ngIf="cargando " class="alert alert-info text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div>

        <div *ngIf="!cargando && clientes.length === 0 "
          class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">No hay registros</h4>
          <p>
            <i class="fa fa-exclamation fa-2x"></i>
          </p>

        </div>

        <br>
        <div class="text-right">
          <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div><br>

      </form>


      </div>

     

   
  </div>
</div> 
</div>


